.e-editor {
  margin: 5px 0;
  padding: 5px;
  max-height: 60vh;
  min-height: 35vh;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.e-editor:focus {
  border-color: #666;
}

$sheetList: c, d, e, f, g ,a, b;

$main-s-c: #325f58;
@for $idx from 0 through 8 {
  @for $i from 1 through length($sheetList) {
    $c: nth($sheetList, $i);
    .s-n[data-sheet='#{$c + $idx}'] {
      background-color: lighten($main-s-c, $idx / 8 * 80 + 0%);
    }
    .s-n[data-sheet='#{$c + "#" + $idx}'] {
      background-color: lighten($main-s-c, $idx / 8 * 80 + 5 + 0%);
    }
    .s-n[data-sheet='#{$c + "♯" + $idx}'] {
      background-color: lighten($main-s-c, $idx / 8 * 80 + 5 + 0%);
    }
    .s-n[data-sheet='#{$c + "." + $idx}'] {
      background-color: lighten($main-s-c, $idx / 8 * 80 + 0%);
    }
    .s-n[data-sheet='#{$c + "♭" + $idx}'] {
      background-color: lighten($main-s-c, $idx / 8 * 80 + 0%);
    }
  }
}