[disabled] {
  background-color: #333 !important;
  color: #ccc !important;
  cursor: not-allowed !important;
}

.d-flex {
  display: flex;
}

.ml-1 {
  margin-left: 5px;
}

.e-editor {
  margin: 5px 0;
  padding: 5px;
  max-height: 45vh;
  min-height: 35vh;
  overflow-y: auto;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.s-n {
  display: inline-block;
  margin: 2px;
  padding: 0 2px;
  border-radius: 3px;
  line-height: 1.5;
  color: white;
  background: dimgray;
}

.e-editor:focus {
  border-color: #666;
}

.e-editor .s-n[data-sheet] {
  cursor: move;
}

.control-box .s-n, button {
  cursor: pointer;
}

$sheetList: c, d, e, f, g ,a, b;
$sheetLen: length($sheetList);

$main-s-c: #325f58;
@each $i in $sheetList {
  @for $idx from 0 through 8 {
    $colorWeight: $idx / 8 * 100 + 0%;
    $snSheet: mix(#f00, #00f, $colorWeight);
    .s-n[data-sheet='#{$i + $idx}'] {
      background-color: $snSheet;
    }
    .s-n[data-sheet='#{$i + "♯" + $idx}'] {
      background-color: $snSheet
    }
    .s-n[data-sheet='#{$i + "♭" + $idx}'] {
      background-color: $snSheet
    }
  }
}


$muteList: dash, space;
$muteColor: #666;

.s-m {
  display: inline-block;
  text-align: center;
  width: 14px;
  background-color: $muteColor;
}

// @each $it in $muteList {
//   .s-n[data-sheet='mute-#{$it}'] {
//     background-color: $muteColor;
//   }
// }