* {
  box-sizing: border-box;
}

input, button, select, textarea, .e-editor{outline:none}

button {
  border: 0;
  background: #ccc;
  padding: 5px 8px;
}
button:active {
  background: #999;
  transform: translate(1px, 1px);
}

select {
  border: 1px solid #ccc;
}

.control-box {
  margin: 5px;
}

/* #sheetMusic { } */

.comment {
  margin: 5px 3px;
  font-size: 14px;
  line-height: 1.5;
  color: #999;
}